.popup {
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    top: 0px;
    background-color: rgba(127, 255, 212, 0.432);
  }

  &__content {
    width: 50vw;
    max-height: 90vh;
    min-width: 600px;
    background-color: antiquewhite;
    z-index: 3;
    border-radius: 30px;
    box-shadow: 3px 3px 2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    @media (max-width: 1000px) {
      font-size: 20px;
    }
  }

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
  }

  &__title {
    align-self: center;
  }

  &__image {
    margin-top: 15px;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid black;
  }

  &__meaning {
    &_container {
      margin: 10px 0;
      align-items: center;
    }
    display: flex;
    margin: 0px 10px;
    text-align: center;
    justify-content: center;
    svg {
      margin: 0 10px;
    }
  }

  &__example {
    &_container {
      margin: 10px 0;
      align-items: center;
    }
    display: flex;
    margin: 0px 10px;
    justify-content: center;
    svg {
      margin: 0 10px;
    }
  }

  &__word {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    h1 {
      margin: 0 10px;
      //   text-align: start;
    }
  }
}
