.wordunit {
  &__container {
    display: flex;
    width: 95%;
    height: 10vh;
    background-color: azure;
    font-size: 20px;
    color: black;
    margin: 10px 5px 0px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
    &:hover {
      box-shadow: 1px 2px 3px gray;
    }

    svg:hover {
      cursor: pointer;
    }

    img {
      height: 8vh;
      width: 100px;
      border-radius: 10px;
      border: 2px solid black;
      margin: 0px 10px;
    }
  }
  &__word {
    display: flex;
    flex-direction: row;
  }

  &__buttons {
    display: flex;
  }
  &__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #407df4;
    transition: all 0.2s linear;
    margin: auto;
    margin: 0 5px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__content {
    width: 50vw;
  }
}

.diffword {
  border: 2px solid red;
}
