.savanna {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(#e66465, #9198e5); */
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.savanna__component {
  margin-top: 100px;
}

.savanna__component-baseword {
  z-index: 1000;
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  animation: falldown 14s linear;
  pointer-events: none;
  text-shadow: 1px 1px 1px black;
  /* transform: translateY(100vh); */
  /* transition: all 10s linear; */
}
.bw-enter {
  /* transform: translateY(-100%); */
}
.bw-enter-active {
  /* transition: transform 15s linear;
  transform: translateY(100vh); */
}
.bw-enter-done {
  /* transition: transform 1s linear; */
  /* animation: fallup 1s linear; */
}
.bw-exit {
  animation: fallup 0.3s linear;
  opacity: 1;
}
.bw-exit-active {
  /* transform: translateY(-100%); */
  /* transition: transform 2s; */
  animation: fallup 0.3s linear;
  opacity: 0.5;
}
.bw-exit-done {
  opacity: 0;
}
.wb-enter {
  transform: translateX(100vw);
}
.wb-enter-active {
  transition: transform 1s linear;
  transform: translateX(0%);
}
/* .wb-enter-done {
  transform: translateX(0%);
} */
.wb-exit {
  opacity: 1;
}
.wb-exit-active {
  transform: translateX(-100vw);
  transition: transform 0.3s linear;
  opacity: 0.5;
}
.wb-exit-done {
  opacity: 0;
}
/* .savanna__component-baseword.exiting {
  transition: all 1s linear;
  transform: translateY(0%);
} */
.savanna__component-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes falldown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(90vh);
  }
}
@keyframes fallup {
  to {
    transform: translateY(150vh);
  }
}
@media (max-width: 800px) {
  .savanna__component-baseword {
    font-size: 35px;
  }
}
