.testpage {
  &__container {
    width: 80vw;
    min-width: 600px;
    height: 85vh;
    background-color: antiquewhite;
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    display: flex;
    // align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    // width: 5vw;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 15px;
    background-color: rgb(253, 227, 192);
    &:hover {
      cursor: pointer;
      background-color: rgb(250, 209, 154);
      color: rgb(95, 95, 95);
    }
  }

  &__word {
    width: 60%;
    align-self: center;
  }
}
