@import "./common/common.css";
@import "./blocks/header.css";
@import "./blocks/main-page.css";
@import "./blocks/registration.css";
@import "./blocks/footer.css";
@import "./blocks/main-page.css";
@import "./blocks/savanna.css";
@import "./blocks/audiochallenge.css";
@import "./blocks/gameover.css";
@import "./blocks/englishforkids.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
